body {
    font-size: 19px;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
	background-color:white;
}
tr {
    border-bottom: 1px solid white;
}
tr:nth-child(even){
	background-color:#e6fff2;
}
h2{
	color:black;
}
h3{
	color:white;
	text-align:center;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
th{
	color:white;
	background-color:#00cc66;
}
tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 2px solid gray; 
    border-radius: 5px;
	background-color:#001a1a;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
}
li{
	float:left;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
li a:hover{
	background-color:#111;
}
.active{
	background-color:#00cc66;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
	margin-left:15%;
	margin-right:15%;
    height: 30px;
    width: 70%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid gray;
	background:#001a1a;
	color:gray;
}
.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:15%;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
